:root {
	--deep-color: #000022;
	--shallow-color: white;
	--bg-color: #eaeaea;
}

html {
	margin: 0;
}

body {
	width: 100%;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	color: var(--deep-color);
}

.background {
	left: 0;
	position: fixed;
	right: 0;
	height: 100%;
	background-color: var(--bg-color);
	background-size: cover;
	top: 0px;
	z-index: -1;
}

.content {
	margin: auto;
	width: 1000px;
	padding-top: 50px;
	padding-left: 50px;
	padding-right: 50px;
}

.header {
	background-color: var(--shallow-color);
	height: 130px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	padding: 5 23 0 23; 
}

.title {
	float: left;
}

.name {
	font-size: 50px;
	padding-left: 30px;
	padding-top: 33px;
}

.logos {
	float: right;
	padding: 30px;
	padding-top: 42px;
}

.logos img {
	width: 40px;
	margin-left: 4px;
}

.logos a {
	text-decoration: none;
}

#about {
	color: var(--deep-color);
	background-color: var(--shallow-color);
	padding: 60px;
	padding-top: 20px;
	font-size: 18px;
	text-align: center;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

#about a {
	color: var(--deep-color);
}

#about p {
	margin: 0px;
	margin-bottom: 8px;
}

.projectContainer .column {
	float: left;
}

.projectContainer .leftColumn {
	margin-right: 20px;
}

.projectContainer::after {
	content:'';
	display: block;
	clear: both;
}

.project {
	width: 490px;
	font-size: 16px;
	background-color: var(--shallow-color);
	margin-top: 20px;
	border-radius: 5px;
}

.project .title {
	font-weight: 400;
}

.project img {
	width: 460px;
	margin-left: 15px;
	border-radius: 5px;
}

.project iframe {
	width: 460px;
	margin-left: 15px;
	border-radius: 5px;
}

.project .videoBox {
	width: 460px;
	margin-left: 15px;
	margin-bottom: -4px;
	padding: 0px;
}

.project video {
	width: 100%;
	border-radius: 5px;
}

.project .playButton {
	position: absolute;
	margin: 0px;
	margin-top: -265px;
	margin-left: 200px;
	padding: 0px;
	width: 60px;
}

.project .playButton img {
	margin: 0px;
	width: 100%;
}

.project div {
	padding: 10px;
	clear: both;
}

.project a {
	color: var(--deep-color);
	margin: 0px;
	padding: 0px;
	border: none;
}

#footer {
	margin-bottom: 100px;
}